.contacts__wrapper {
  display: flex;
  gap: 11px;
}

.contacts__email {
  // position: relative;
  height: 39px;
  width: 39px;
  background-color: $button-color;
  border-radius: 50%;
}

.contacts__image-tel,
.contacts__image-email {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 16px;
}
