
.nav__list {
  
  position: absolute;
  list-style: none; 
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
  height:0;
  // padding-bottom: 100vh;
  z-index: 3;
  overflow-y: scroll;
  transition: 0.5s;
  opacity: 1;
  visibility: hidden;

  &--visibility {
    height:100vh;
    transition: 1.5s;
  }
  
}

.nav__item {
  font-size: 18px;
  font-weight: 400;
 padding: 15px 15px;
 margin-left: 15px;
 border-bottom: 1px solid #DEDEDE;

 &:nth-child(2) {
  font-weight: 500;
 }
}

.nav__item-title {
  font-weight: 500;
  display: flex;
  gap: 9px;
  align-items: center;
  cursor: pointer;

  &::after {
    display: block;
    content: "";
    background-image: url("../images/sprite.svg#arrow");
    width: 10px;
    height: 10px;
    
  }
}
